body {
    padding: 0px 20%;
}
.linktree {
    width: 100%;
}
.linktree-header {
    padding-top: 60px;
    height: auto;
}
.linktree-main {}
.galeria-trends-center {
    text-align: center;
}
.galeria-trends-rounded {
    border-radius: 50%;
}
.galeria-trends-profile-picture {
    width: 190px;
    height: 190px;
    object-fit: cover;
}
.galeria-trends-name h2 {
    font-size: 29px;
}
.galeria-trends-about p {
    font-size: 20px;
    padding: 0px 13%;
    font: bolder;
}

.galeria-trends-svg {
    width: 20px;
    margin: 0px 10px 10px 10px;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    fill: none;
    font-weight: lighter;
    
}


.galeria-trends-links {
    padding-top: 50px;
}

.galeria-trends-link {
    background-color: #9C8068;
    opacity: 1;
    margin-bottom: 60px;
    font-size: 20px;
    width: 90%;
    color: #fff;
    padding: 2px 0px;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px;
    border: none;
}
.galeria-trends-link:hover {
    transform: scale(1.02);
}
.galeria-trends-text-decoration {
    text-decoration: none;
}





/*mobile*/
@media only screen and (max-width: 767px) {
    body {
        padding: 0px 5px;
    }
    .galeria-trends-about p {
        font-size: 18px;
    }
}

/*Tablet*/
@media only screen and (max-width: 1024px) {
    body {
        padding: 0px 10px;
    }
}

